<p id="notice"><%= notice %></p>

<h1>Listing Tools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tools.each do |tool| %>
      <tr>
        <td><%= tool.name %></td>
        <td><%= link_to 'Show', tool %></td>
        <td><%= link_to 'Edit', edit_tool_path(tool) %></td>
        <td><%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tool', new_tool_path %>

<h4>既にアプリが登録されているか調べる</h4>

<%= form_tag search_tools_path, method: :get, remote: true do %>
<p>
  <%= text_field_tag :tool, "",  id: "tool_name", name: "keyword", placeholder: "アプリ名を入力してください", style: "width: 200px;"%>
</p>
<% end %>

<div id="tool_list">
  <ul>
    <!-- 検索結果が表示される -->
  </ul>
</div>
