<p id="notice"><%= notice %></p>

<h1>Listing Tools</h1>

<%= link_to '会員登録', new_user_registration_path %>
<%= link_to 'ログイン', user_session_path %>
<% if user_signed_in? %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<%= link_to 'マイページ', users_path%>
<% end %>

<br>

<% if user_signed_in? %>
<p>ようこそ<%= current_user.id %>さん</p>
<% end %>

<%= link_to 'New Tool', new_tool_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tools.each do |tool| %>
    <tr>
      <td><%= tool.name %></td>
      <td><%= link_to 'Show', tool %></td>
      <td><%= link_to 'Edit', edit_tool_path(tool) %></td>
      <td><%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3>User</h3>

<% @users.each do |user| %>
<a href="/users/<%= user.id %>"><%= user.id %></a><br>
<% end %>
