<%= link_to 'Back', tools_path %>

<h3>投稿したアプリとレビュー</h3>

<% @reviews.each do |review| %>
<%= review.tool.name %><br>
<%= review.review %><%= link_to '編集', "/reviews/#{review.id}/edit" %><%= link_to '削除', "/reviews/#{review.id}", method: :delete %><br>
<% end %>
